#sql_study/mysql/data/*
#sql_study/postgres/data/*
sql_study/.idea/*
analytics/*
lib/*
Python/
realworld/
venv
.DS_Store

# 폴더
superset/
customer-analytics/
data-engineering-zoomcamp/
front-study/
kaggle-study/